<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="UIH.RT.TMS.AdminServer.AdminServerService"
               behaviorConfiguration="AdminServerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9527/AdminServer/"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9527/AdminServer/"
                  binding="wsHttpBinding"
                  behaviorConfiguration="WebBehavior"
                  contract="UIH.RT.TMS.AdminServer.IAdminServer" />
        <endpoint address="http://localhost:9527/AdminServer/mex/"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <!--<webHttp helpEnabled="true"/>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AdminServerServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="RT_TMSEntities" connectionString="server=127.0.0.1;User Id=root;Persist Security Info=True;password=MTExMTEx;database=rt_tms" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="WindowsEventlogName" value="AdminServer" />
  </appSettings>
</configuration>